<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/message.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>

<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

<% if(error && error.length > 0) { %>
  <div class="ui negative message container transition hidden">
  <i class="close icon"></i>
  <%if(error.toString().split("|")[0].trim() !== ""){%>
    <div class="header">
        <%-error.toString().split("|")[0]%>
    </div>
  <%}%>
  <p><%-error.toString().split("|")[1]%></p>
</div>
  <% } else if(success && success.length > 0) { %>
  <div class="ui positive container message">
  <i class="close icon"></i>
    <%if(success.toString().split("|")[0].trim() !== ""){%>
    <div class="header">
        <%-success.toString().split("|")[0]%>
    </div>
  <%}%>
  <p><%-success.toString().split("|")[1]%></p>
</div>
  <% } else if(warning && warning.length > 0) { %>
 <div class="ui orange container message">
  <i class="close icon"></i>
  <%if(warning.toString().split("|")[0].trim() !== ""){%>
    <div class="header">
        <%-warning.toString().split("|")[0]%>
    </div>
  <%}%>
  <p><%-warning.toString().split("|")[1]%></p>
</div>
  <% } else if(info && info.length > 0) { %>
<div class="ui blue container message">
  <i class="close icon"></i>
  <%if(info.toString().split("|")[0].trim() !== ""){%>
    <div class="header">
        <%-info.toString().split("|")[0]%>
    </div>
  <%}%>
  <p><%-info.toString().split("|")[1]%></p>
</div>
<% } %>

<script>
$('.ui.message')
  .transition('pulse')
;
$(".icon").click(()=>{
    $(".ui.message").hide(500);
})
</script>